In [10]:
import numpy as np;import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
 'key2' : ['one', 'two', 'one', 'two', 'one'],
 'data1' : np.random.randn(5),
 'data2' : np.random.randn(5)})

df.groupby('key1')['data1'].mean()
df.groupby(['key1','key2'])[['data1']].mean()

              data1
key1 key2
a    one   1.815805
     two   0.400157
b    one   0.978738
     two   2.240893